extends layouts/main
include mixins/installationWriteForm
block content
    form(action=`/installation${routes.createInstallation}`, method="post", enctype="multipart/form-data")
        table
                th  Create Date
                    tr
                        td
                            label(for="createDate")
                            input(type="date", value=currentDate, name="createDate")
                        td(colspan="3")
                            input(type="submit", value="Create Installation", required=true)    
                +installationWriteForm