extends layouts/main

block content
    .menu__container
        .menu__row
            .menu__box
                a.installlation__menu(href=routes.installation) 설치 구매 리스트
            .menu__box
                a.undefined__menu(href="") coming soon
        .menu__row
            .menu__box
                a.dining__menu(href="") for dining