extends layouts/main
include mixins/installationTable
block content
    .installation__container
        .installation__backward__button
            a(href=routes.installation) <i class="fas fa-arrow-circle-left"></i>
        .installation__info
            +installationTable
        .installation__creator
            |Created by 
            a(href=routes.userDetail(installation.creator.id))=installation.creator.name
        .installation__comments
            if installation.comments.length === 1
                span.installation__comment-number 1 comment
            else
                span.installation__comment-number #{installation.comments.length} comment