html,
body {
  height: 100%;
}
body {
  background-color: $backgroundColor;
  color: black;
  font-size: 14px;
  font-family: "Noto Sans KR";
}

main {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 70vh;
}

.customerLine {
  border: 1px solid;
}
