extends layouts/main
include mixins/installationTable
include mixins/comment
block content
    .installation__container
        .installation__backward__button
            a(href=routes.installation) <i class="fas fa-arrow-circle-left"></i>
        .installation__info
            +installationTable
        .installation__creator
            |Created by 
            a(href=routes.userDetail(installation.creator.id))=installation.creator.name
        +comment(installation)